.container {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    margin: 0 auto;
    background-color: #1F3248;
}

.flexContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.item {
    flex-grow: 1;
    text-align: center;
}

.linkStyle {
    width: 300px;
    margin: auto;
    padding: 370px 0;
    font-size: 2em;
    color: #FFFFFF;
    opacity: 1
}

/**
 * [ inner element setting ]
 */
.title {
    margin-top : 30.3px;
    margin-left : 40px;
    margin-bottom: 120px;
}

.logo {
    width: 159.8px;
    height: 33.3px;
}

.icon {
    text-align: center;
}
