.container {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.7;
    font-size: 1.6rem;
    min-height: 100vh;
    width: 100%;
    positoin: relative;
}

.title {
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    height: 40vh;
    min-height: 150px;
}
.logo {
  height: 100%;
}

.content {
    height: auto;
    width: 70vw;
    min-width: 700px;
    margin: 0 auto;
    box-shadow: 0 10px 20px 0 rgba(0,0,0,.15);
}

.content-title{
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2.5rem;
}
.content-item {
  display: block;
  margin-left: 10rem;
  margin-bottom: 2rem;
}
.content-item > label {
  padding-left: 2rem;
}
