.basicInfoContainer {
    background-color: #F2F2F2;
    margin-bottom: 30px;
    padding: 30px;
    color: #979797;
}

.introSection {
    margin-bottom: 30px;
}

.accouter {
    float: left;
    position: relative;
    left: 50%;
}

label .ControlLabel .over{
    text-align: left;
    padding: 0;
    margin:0;
    font-weight: normal;
}
