.container {
  margin-top: 5rem;
}

.content {
  margin-bottom: 5rem;
}

.dateTime-input {
  margin-bottom: 1rem;
}

.input-btn {
  margin-bottom: 3rem;
}

.existing-event-title {
  display: inline;
  cursor: pointer;
  padding-right: 2rem;
}
.existing-event-mange {
  display: inline;
  cursor: pointer;
  border-bottom: 2px black solid;
}
