.container {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    margin: 0 auto;
    background-color: #F2F2F2;
}

.basicwrapper {
    /*float: left;*/
    position: relative;
    /*left: 25%;*/
    width: 740px;
    margin: 0 auto;
}

.final{
    text-align: center;
    font-size: 2em;
}

.canvasShow {
    display: block;
    width: 100%;
    height: auto;
}

.canvasHidden {
    display: none;
}

.cameraW {
    width: 100%;
    height: auto;
}
